# =========================
# MySQL
# =========================

MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USERNAME=
MYSQL_PASSWORD=


# =========================
# MongoDB
# =========================

MONGO_URI=
MONGO_DATABASE=


# =========================
# Redis
# =========================

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# =========================
# Sessions
# =========================

SESSION_TTL=

# =========================
# Client
# =========================

CLIENT_URL=